* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a {
    color: #000;
}
.header {
    background-color: #f4f4f4;
}
.header .logo {
    display: block;
    align-items: flex-start;
}
h3 